@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
}

.container{
    max-width: 80vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header{
    background-color: antiquewhite;
}

.min-h-screen{
    min-height: 100vh;

}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex{
    display: flex;
    margin-top: 1%;
    margin-bottom: 2%;
}

.text-center{
    text-align: center;
}

.item-center{
    align-items: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 13px;
    margin-bottom: 13px;
}

.px-2{
    padding-left: 26px;
    padding-right: 26px;
}

.text-blue{
    color: rgb(0, 145, 172);
}

.btn{
    padding: 12px 12px;
    margin: 5px 5px;
    border: 2px solid white;
    border-radius: 6px; 
    cursor: pointer;
    color: white;
    background-color: rgb(0, 145, 172);
}

.navbar{
    display: flex;
    height: 67px;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}

.navbar li{
    list-style: none;
    margin: 0 12px; 
}

.topleft{
    width: 50%;
    height: 50vh;
}
.topright{
    width: 50%;
    height: 50vh;
}

.overflow-x-hidden{
    overflow-x: hidden;
    background-color: rgb(246, 241, 235);
}

.img{
    height: 100%;

}

.logo{
    font-size: 1.3rem;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

.section1{
    min-height: 40vh;
}

.section2{
    padding-left: 63px;
    padding-right: 63px;
    margin-top: 5%;
    margin-bottom: 2%;
}

.section2 h1{
    font-size: 2.5rem;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.section3{
    padding-left: 63px;
    padding-right: 63px;
    margin-top: 5%;
    margin-bottom: 2%;
}

.section3 h1{
    font-size: 2.5rem;
}

.section3 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-height: auto;
    min-width: 20vw;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgb(212, 240, 245), 0 2px 10px 0 rgb(179, 224, 232);
}

.box ul{
    list-style-type: none;
}

.box ul li{
    margin: 12px 2px;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

footer{
    padding: 23px;
    text-align: center;
    background-color: antiquewhite;
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 90vw;
    }
    .navbar {
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .box{
        padding: auto;
        margin: auto;
        min-height: auto;
        min-width: auto;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 2px 2px 0 rgb(212, 240, 245), 0 2px 10px 0 rgb(179, 224, 232);
    }
    .img{
        height: 80%;
        margin-top: 10%;
    }

}

@media screen and (max-width: 600px) {
    .container {
        max-width: 95vw;
    }

    .section2,
    .section3 {
        padding: 30px;
    }
    .box{
        padding: auto;
        margin: auto;
        min-height: auto;
        min-width: auto;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 2px 2px 0 rgb(212, 240, 245), 0 2px 10px 0 rgb(179, 224, 232);
    }
    .img{
        height: 50%;
        margin-top: 50%;
    }

}
